input:focus,textarea:focus{
    outline:none;
    
}
::placeholder{
    color: rgb(177,169,169);
}


body{
    margin:0;
    background-color: rgb(25, 84, 100);
    color: white;
}

textarea{
    resize: none;
}

/* header start */
#header-img{
    text-align: center;
    background-color: black;
    padding: 5px;
}
#header-img img{
    width: 600px;
}

#heading{
    color: white;
    text-align: center;
    text-decoration: underline;
}




/* main form start */
#form1{
    text-align:left;
    width:50%;
}
.form-input{
    margin:10px;
    padding: 15px;
    width: 25vw;
    border: none;
    background-color: whitesmoke;
}
#universal{
    
    display:flex;
    justify-content: center;
    text-align:center;
    padding-top: 30px;
}
#address{
    resize: none;
}
.fmg-details{
    padding-left: 100px;
    background-color:rgb(17, 94, 116);
}

#parent-details,#academic-details,#professional-details,#syear,#sem3,#sem4,#tyear,#sem5,#sem6,#fnyear,#sem7,#sem8,#atkt-record,#hobby,#achievements{
    padding-left:50px;
}

/* atkt details */
#atkt-alert{
    color: #ffbb00;
    font-size: 18px;
}
#atkt-alert abbr{
    cursor: pointer;
    text-decoration: none;
}
#atkt-alert abbr:hover{
    color:#ffe261;
}


/* button start */
#btn-div{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
#send-btn{
    background-color: #db2b2b;
    color: white;
    font-weight: bold;
    font-size:20px;
    padding:10px;
    border-radius: 50px;
}
#send-btn:hover{
    cursor:pointer;
    background-color:#9c0606;
}



/* footer */
#copyright{
    padding: 3px;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}